body {
    font-family: 'Arial', sans-serif;
}

h1 {
    text-decoration: underline; 
    text-underline-offset: 10px;
    text-decoration-thickness: 1%;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.untertitel {
    margin-top: 0;
    font-style: italic;
}

.beilage {
    color:green
}