body {
    width: 50vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}

#table-description::first-letter {
    color: #4CAF50;
    font-weight: bold;
}

#table-description a {
    color: #D1671B;
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 100%;
    margin: 25px 25px;
    font-size: 0.9em;
    border: 2px solid rgba(255, 216, 153, 0.794);
}

#etabelle th:hover {
    background-color: green;
    color: white;
}

thead th {
    background-color: #fcf5e4;
    color: black;
}

#extravagant-row {
    background-color: rgba(255, 216, 153, 0.359);
}

#eins {
    border-right: 2px solid white
}

#zwei {
    border-right: 2px solid white
}

.center {
    text-align: center;
    border-bottom: 2px solid rgba(255, 216, 153, 0.794);
    width: 110%;
    padding-bottom: 25px;
}

footer ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid rgba(255, 216, 153, 0.794);
}

footer ul li:last-child {
    border-right: none;
}